{% extends 'index.html' %}
{%load staticfiles%}

{% block titulo %}Contáctenos{% endblock titulo %}

{% block header %}
	<!-- Header section -->
	<header class="header-section">
		<a href="{% url 'principal:index' %}" class="site-logo"><img src="{% static 'principal/./img/logo.png'%}" alt=""></a>
		<div class="nav-switch">
			<i class="fa fa-bars"></i>
		</div>
		<div class="nav-warp">
			<div class="user-panel">
				<a href="{% url 'login:login' %}">Ingresar</a>
			</div>
			<ul class="main-menu">
				<li><a href="{% url 'principal:index'%}">Home</a></li>
				<li><a href="{% url 'principal:nosotros' %}">Acerca De Nosotros</a></li>
				<li><a href="./blog.html">Blog</a></li>
				<li><a href="{% url 'principal:contactenos' %}">Contactenos</a></li>
			</ul>
		</div>
	</header>
	<!-- Header section end -->
	{% endblock header %}



{% block hero %}
    <!-- Page Top section -->
    <section class="page-top-section set-bg" data-setbg="{% static 'principal/img/page-top-bg.jpg' %}">
      <div class="container">
        <h2>Contactenos</h2>
      </div>
    </section>
    <!-- Page Top section end -->
{% endblock hero %}


{% block body %}
{% include 'contac-alerts.html' %}

	<!-- Contact section -->

	<section class="contact-section">
		<div class="container">
      <div class="section-title">
				<img src="{% static 'principal/./img/section-title-icon.png'%}" alt="#">
				<p>Lo mejor de nosotros</p>
				<h2>Dejanos tu mensaje!</h2>
			</div>
			<div class="row d-flex justify-content-center">
				<div class="col-lg-9">
					<form method="post" class="contact-form">
						{% csrf_token %}
						<div class="row">
							<div class="col-md-6">
							 <label class="text-black" for="fname">Nombre</label>
								  {{ form.nombre }}
							</div>
							<div class="col-md-6">
							 <label class="text-black" for="email">Correo</label>
								 {{ form.correo }}
							</div>
							<div class="col-md-12">
							 <label class="text-black" for="subject">Asunto</label>
								{{ form.asunto }}
								 <label class="text-black" for="message">Mensaje</label>
								   {{ form.mensaje }}
                <center>
                  <button class="site-btn">Enviar</button>
                  <br></br>
                </center>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- Contact section end -->

{% endblock body %}
