{%  load static %}
<link rel="stylesheet" type="text/css" href="{% static 'principal/css/sweetalert.css' %}">
<script src="{% static 'principal/js/jquery.js' %}"></script>
<script src="{% static 'principal/js/sweetalert.min.js' %}"></script>



<div id="alerts">
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <script>
                    $(document).ready(function()
                    {
                        function tiempo(){
                          swal(
                          {
                              type: "error",
                              title: "Oops",
                              text: "{{ message }}",
                              showConfirmButton: true
                          });
                        }setTimeout(tiempo, 700);
                    })
                </script>

            {% else %}
                <script>
                    $(document).ready(function ()
                    {
                      function tiempo(){
                        swal(
                        {
                            type: "success",
                            title: "Gracias por contactarnos",
                            text: "{{ message }}",
                            showConfirmButton: true
                        });
                      }setTimeout(tiempo, 700);
                    })
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
