{% extends 'index.html' %}
{%load staticfiles%}

{% block titulo %}Nosotros{% endblock titulo %}

{% block hero %}
	<!-- Page Top section -->
	<section class="page-top-section set-bg" data-setbg="{% static 'principal/img/page-top-bg.jpg' %}">
		<div class="container">
			<h2>About us</h2>
			<div class="site-breadcrumb">
				<a href="home">Home</a> / <span>About us</span>
			</div>
		</div>
	</section>
	<!-- Page Top section end -->
{% endblock hero %}


{% block body %}
	<!-- Team section -->
	<section class="team-section spad">
		<div class="container">
			<div class="section-title">
				<img src="{% static 'principal/./img/section-title-icon.png' %}" alt="#">
				<p>Lo mejor de nosotros</p>
				<h2>Nuestro Equipo de Trabajo</h2>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="team-member">
						<img src="{% static 'principal/img/team/1.jpg' %}" alt="#">
						<h4>Daniel Smith</h4>
						<p>Team manager</p>
						<div class="tm-social social">
							<a href="#"><i class="fa fa-pinterest"></i></a>
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Team section end-->
{% endblock body %}
