{% extends 'index.html' %}
{%load staticfiles%}

{% block titulo %}Nosotros{% endblock titulo %}

{% block header %}
	<!-- Header section -->
	<header class="header-section">
		<a href="{% url 'principal:index' %}" class="site-logo"><img src="{% static 'principal/./img/logo.png'%}" alt=""></a>
		<div class="nav-switch">
			<i class="fa fa-bars"></i>
		</div>
		<div class="nav-warp">
			<div class="user-panel">
				<a href="{% url 'login:login' %}">Ingresar</a>
			</div>
			<ul class="main-menu">
				<li><a href="{% url 'principal:index'%}">Inicio</a></li>
				<li><a href="{% url 'principal:nosotros' %}">Acerca de nosotros</a></li>
				<li><a href="./blog.html">Blog</a></li>
				<li><a href="{% url 'principal:contactenos' %}">Contáctenos</a></li>
			</ul>
		</div>
	</header>
	<!-- Header section end -->
	{% endblock header %}


{% block hero %}
	<!-- Page Top section -->
	<section class="page-top-section set-bg" data-setbg="{% static 'principal/img/page-top-bg.jpg' %}">
		<div class="container">
			<h2>Acerca de nosotros</h2>
		</div>
	</section>
	<!-- Page Top section end -->
{% endblock hero %}


{% block body %}
	<!-- Team section -->
	<section class="team-section spad">
		<div class="container">
			<div class="section-title">
				<img src="{% static 'principal/./img/section-title-icon.png' %}" alt="#">
				<p>Lo mejor de nosotros</p>
				<h2>Nuestro Equipo de Trabajo</h2>
			</div>
			<div class="row dflex justify-content-center">
				{% for desarrollador in desarrolladores %}
				<div class="col-lg-3 col-md-6">
					<div class="team-member">
						<img src="{{desarrollador.foto.url}}" alt="#">
						<h4>{{desarrollador.nombre}}</h4>
						<p>{{desarrollador.cargo}}</p>
						<div class="tm-social social">
							<a href="{{desarrollador.instagram}}" target="_blank"><i class="fa fa-instagram"></i></a>
							<a href="{{desarrollador.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a>
							<a href="{{desarrollador.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a>
						</div>
					</div>
				</div>
					{% endfor %}
			</div>
		</div>
	</section>
	<!-- Team section end-->
{% endblock body %}

{% block fsection %}

<!-- Footer section -->
<footer class="footer-section">
	<div class="container d-flex justify-content-center">
		<ul class="footer-menu">
			<li><a href="{% url 'principal:index' %}">Inicio</a></li>
			<li><a href="{% url 'principal:nosotros' %}">Acerca de nosotros</a></li>
			<li><a href="#">Blog</a></li>
			<li><a href="{% url 'principal:contactenos' %}">Contáctenos</a></li>
		</ul>
</footer>
<!-- Footer top section end -->
{% endblock fsection %}
